body {
    background-color: #ffccaa;
    font-family: Tahoma, sans-serif;
    font-size: 12.5px;
}

link {
    color: #a04000
}

h1 {
    color: #a04000
}

img {
    float: left;
    width: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    text-align: justify;
}

a:link {
    color: #a04000
}

a:visited {
    color: #a04000
}